@import 'reset.css';
@import 'vars.css';

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

body {
  overflow-wrap: break-word;

  font-size: 1.4rem;
  word-break: keep-all;
  color: #212529;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-family: inherit;
}
