.dalog {
  box-shadow:
    0 12px 24px 0 var(--clr-gray-opacity-300),
    0 8px 16px 0 var(--clr-gray-opacity-100);
  border: none;
  border-radius: 2rem;
  width: min(100%, calc(100vw - 4.8rem));
  max-width: 48rem;
  padding: 0;

  background-color: var(--clr-white);

  &::backdrop {
    background-color: rgb(0 0 0 / 0.16);
  }
}

.wrapper {
  padding: 2.4rem;
}

.title {
  margin-bottom: 0.6rem;

  font-size: 2.4rem;
  line-height: 1.6;
  font-weight: 600;
  color: var(--clr-gray-800);
}

.description {
  margin-bottom: 2.4rem;

  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 300;
  color: var(--clr-gray-700);
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 0.8rem;
}
